# Pandas

In [1]:
# The name comes from Panel Data which is an econometric term
# Crucial for data manipulation and analysis
# It adds two net data structures : dataframe and series

# The dataframe is perfect for tabular data manipulation
# Easy-to-use functions for INTERFACING with text files, excel sheets, SQL databases and HDF5 binary files
#Flexible in labeling rows and columns
# Highly integrable with Numpy, MatPlotLib and hundreds of powerful libraries
# Dozens of data cleaning, manipulation, and analysis functions

## --> Series

In [3]:
# Its a 1D object capable of holding any data type even python object etc
# Can assign an index for each element
# Its convention to import pandas as pd
# Basic attributes are : shape, ndim (number of dimension), size, values, index

In [1]:
import pandas as pd
import numpy as np

np_arr = np.array([1,3,4,5,6,7])
series_np = pd.Series(np_arr) # Series 
print(series_np)

# Series from a list
seris_list = pd.Series([1,10,4])
print(seris_list)

# Series from a dictionary
di = {"first" : 25, "Name" : "Seyi", "Age" : 25, "IsYoung" : True}
series_dic = pd.Series(di, name="contact")
print(series_dic)

0    1
1    3
2    4
3    5
4    6
5    7
dtype: int32
0     1
1    10
2     4
dtype: int64
first        25
Name       Seyi
Age          25
IsYoung    True
Name: contact, dtype: object

In [8]:
# Series from a scalar value

scalar_value = 10
scalar_series = pd.Series(scalar_value, index=[1,2,3,5])
print(scalar_series)

1    10
2    10
3    10
5    10
dtype: int64

In [9]:
# Convert a series to a numpy array

to_np_Array = scalar_series.to_numpy()
print(to_np_Array)

[10 10 10 10]

In [4]:
# dict-like. Get the value in collum....
print(series_np.get(5))

7

In [5]:
# Shape
print(series_np.shape)

(6,)

In [12]:
# ndim

print(series_dic.ndim)

1

In [13]:
# Size

print(series_dic.size)

4

In [14]:
# Values

print(series_dic.values)

[25 'Seyi' 25 True]

In [16]:
# Index 

print(series_dic.index)

Index(['first', 'Name', 'Age', 'IsYoung'], dtype='object')

In [24]:
# Naming 
print(series_dic.name)

contact